{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": "commonjs"
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-syntax-dynamic-import",
        [
            "import",
            {
                "libraryName": "antd",
                "libraryDirectory": "es",
                "style": false
            }
        ],
        [
            "@babel/plugin-proposal-class-properties",
            {
                "loose": true
            }
        ]
    ]
}
